@import '../../styles/variables.module.scss';

.footerWraper {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  width: 100%;

  @media (max-width: 1199.98px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.contentWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px 0;
  color: $white;
  padding-bottom: 80px;

  @media (max-width: 767.98px) {
    padding-bottom: 30px;
  }
}

.wrapLeft {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .itemSiteMap {
    font-weight: 300;
    font-size: px-to-rem(24);
    line-height: 32px;
  }
}

.wrapLogo {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .logo {
    vertical-align: middle;
  }
}

.linkLogo {
  margin-right: 45px;
}

.wrapRight {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .titleRight {
    font-weight: 300;
    font-size: px-to-rem(28);
    line-height: 32px;
  }

  .desRight {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.footerContact {
  padding: 0 40px;
  font-size: px-to-rem(16);

  @media (max-width: 767.98px) {
    padding: 0 20px;
  }

  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    margin: 0 auto;
    background: $white;
  }
}

.footerContactWrapper {
  max-width: 800px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
}

.national {
  display: flex;
  align-self: center;
  justify-content: flex-start;

  img {
    margin-right: 10px;
  }

  .vi {
    display: flex;
    align-items: center;
  }
}

.listContact {
  display: flex;

  @media (min-width: 768px) {
    display: none;
  }

  img {
    margin-left: 20px;
    width: 35px;
    height: 35px;
    object-fit: cover;

    &.item1 {
      margin-left: 0;
    }
  }
}

.listContactMobile {
  display: flex;

  @media (max-width: 767.98px) {
    display: none;
  }

  img {
    margin-left: 20px;
    width: 25px;
    height: 25px;
    object-fit: cover;
  }
}
